package components


templ Home() {
    @Base() {
        <div class="bg-sky-700 text-gray-700">
            Hello world
            <div x-data="{ open: false }">
                <button @click="open = !open">Expand</button>
             
                <span x-show="open">
                    Content...
                </span>
            </div>
        </div>
    }
}
